@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 4rem;
  font-family: "Orbitron", sans-serif; 

}

.borda{
  border: 1px solid black;
  padding: 2rem;
}

